/* Extra Small */
@media (min-width: 320px) and (max-width:575px) {
    header{
        height: 80px;
    }
    /* header starts here */
    header .company_logo {
        /* width: 112px; */
        height: 80px;
        padding: 20px 0px;
    }
    .navbar{
        position: relative;
    }
    button.navbar-toggler {
        position: absolute;
        padding: 4px 11px;
        top: 50%;
        transform: translateY(-50%);
        right: 20px;
        border-color: #ffffff;
    }
    button.navbar-toggler .fa-bars {
        width: 15px;
        height: 15px;
        color: #ffffff;
    }
    header .nav_menu_part {
        float: right;
        position: absolute;
        top: 80px;
        left: 0;
        width: 100%;
        background: rgba(0, 0, 0, 0.373);
        backdrop-filter: blur(0.5px);
    }
    .nav_menu_list {
        float: left;
        margin-left: 50%;
        transform: translateX(-50%);
    }
    .nav_list_ul li a {
        font-size: 15px;
    }
    .nav_list_ul li a:last-child, .nav_icon_ul li a i:last-child {
        padding-left: 30px;
        padding-bottom: 10px;
    }
    .nav_menu_part .nav_menu_icon {
        display: none;
    }
    /* header ends here */

    /* heading part starts here */
    .web_heading .heading_content {
        padding: 230px 0 60px;
    }
    .heading_content h1.web_main_heading {
        font-size: 20px;
    }
    .heading_content .heading_img {
        margin: 34px auto;
        width: 50%;
    }
    .heading_button button {
        font-size: 10px;
        padding: 12px 22px;
        margin: 0 10px;
    }
    /* heading part ends here */

    /* disp part start here */
    .first_dish_part {
        background-position: center;
    }
    .first_dish_containt {
        padding: 45px 0px;
    }
    .common_heading {
        font-family: Yeseva One;
        text-align: center;
        font-size: 15px;
        font-weight: 400;
        color: var(--primary);
    }
    .common_p {
        font-size: 10px;
        padding: 0px 15px;
    }
    .first_dish_chef_logo {
        margin: 0 auto;
    }
    .common_heading_img {
        width: 55%;
        margin: 10px auto 20px;
    }
    /* disp part ends here */


    /* disp ingredients part start here */
    .dish_ingredients {
        background-position-x: 55%;
    }
    .ingredients_container {
        padding: 45px 0;
    }
    .ingredients_container .ingredients_content {
        background: rgba(0, 0, 0, 0.67);
        padding: 20px;
        margin: 0px 10px;
    }
    .ingredients_img_grp {
        width: 100%;
    }
    .ingredients_img {
        width: 50px;
        height: 50px;
    }
    .ingredients_img img{
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
    /* disp ingredients part start here */

    /* item list part start here */
    .item_list_part {
        padding: 15px 0;
    }
    .item_list_section_grp {
        margin: 30px 20px;
    }
    .food_item_section {
        padding-bottom: 0;
    }
    .food_item_name h3 {
        font-size: 12px;
    }
    .food_item_p h4 {
        font-size: 12px;
    }
    .food_item_about {
        margin-top: 5px;
    }
    .food_item_about p {
        font-size: 10px;
    }
    .special_item::after {
        height: 17px;
        width: 60px;
        right: -1px;
        top: -18px;
        font-size: 10px;
        font-weight: 600;
        line-height: 17px;
    }
    /* item list part ends here */

    /* guest review part start here */
    .guest_review_part {
        padding: 45px 0;
    }
    .guest_review_part .guest_review_content {
        padding: 30px 40px;
    }
    .guest_review_content h4 {
        font-size: 13px;
        margin: 20px 0;
    }
    .guest_review_content p {
        line-height: 1.3;
        font-size: 10px;
        font-weight: 600;
    }
    /* guest review part ends here */

    /* resturent booking part start here */
    .resturent_booking_part {
        padding: 45px 0;
    }
    .resturent_booking_section .resturent_booking_img  {
        flex: 0 0 auto;
        width: 50%;
        height: 255px;
    }
    .common_heading {
        margin-top: 30px;
    }
    .resturent_booking_data {
        padding: 0;
    }
    .resturent_bookin_p1 {
        margin: 20px 0 10px;
    }
    .resturent_bookin_form {
        padding: 0 20px;
    }
    .name_email_mt_36,
    .date_party_mt_23 {
        margin-top: 10px;
    } 
    label.common_label {
        font-size: 10px;
    }
    input.common_input {
        width: 100%;
        height: 20px;
        font-size: 10px;
        line-height: 20px;
        color: #7C7C7C;
        padding-left: 10px;
        font-style: italic;
    }
    input.common_input.date {
        padding-left: 23px;
        font-weight: 400;
    }
    input.common_input::placeholder{
        font-size: 10px;
        line-height: 20px;
        padding-left: -40px;

    }
    .resturent_booking_form_button button {
        width: 100%;
        height: 25px;
        line-height: 25px;
        font-size: 12px;
        font-weight: 700;
    }
    /* resturent booking part ends here */

    /* footer part start here */
    footer {
        padding: 45px 0 0;
    }
    .footer_common_heading {
        font-size: 15px;
        margin-bottom: 10px;
    }
    .footer_section p {
        font-size: 10px;
        padding: 0px 25px;
    }
    .footer_section.footer-1 p{
        padding-bottom: 20px;
    }
    .footer_section.footer-2 .footer_icon {
        margin-top: 0;
        padding-bottom: 30px;
    }
    .footer_section.footer-2 p,
    .footer_section.footer-3 p{
        margin-bottom: 0;
    }
    .footer_section.footer-3 .footer_icon {
        margin-top: 0;
        padding-bottom: 0;
    }
    .footer_icon img{
        width: 100%;
    }
    .social_icon ul {
        margin-left: -17px;
    }
    .social_icon ul li i {
        font-size: 12px;
        color: #ffffff;
        padding: 0 5px;
    }
    /* footer part ends here */
}
/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) and (max-width:767px){ 
    /* header part starts here */
    header{
        height: 80px;
        position: sticky;
        top: 0;
    }
    header .company_logo {
        height: 80px;
        float: left;
        padding: 10px;
    }
    .nav_menu_list {
        position: absolute;
        top: 80px;
        left: 0px;
        width: 100%;
        float: left;
        background: rgba(0, 0, 0, 0.373);
        backdrop-filter: blur(0.5px);
        padding: 10px;
    }
    .nav_menu_list .nav_list_ul {
        float: left;
        margin-left: 50%;
        transform: translateX(-50%);
        display: flex;
    }
    .nav_menu_part .nav_menu_icon {
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
    }
    .nav_menu_part .nav_menu_icon .nav_icon_ul {
        position: absolute;
        float: right;
        top: 50%;
        transform: translateY(-50%);
        display: flex;
    }
    button.navbar-toggler {
        position: absolute;
        padding: 3px 7px;
        top: 50%;
        transform: translateY(-50%);
        right: 20px;
        border-color: #ffffff;
    }
    button.navbar-toggler .fa-bars {
        width: 1em;
        height: 1em;
        color: #ffffff;
    }
    /* header part ends here */
    
    /* heading part starts here */
    .heading_content h1.web_main_heading {
        font-size: 35px;
    }
    .heading_button button {
        font-size: 15px;
    }
    /* heading part ends here */

    /* dish part starts here */
    .first_dish_containt {
        padding: 0px;
    }
    /* dish part ends here */
    .common_heading {
        font-size: 30px;
        margin-top: 50px;
    }
    
    /* ingredients part starts here */
    .ingredients_container {
        padding: 45px 0;
    }
    .ingredients_container .ingredients_content {
        padding: 1px 77px 66px;
    }
    .ingredients_img_grp {
        width: 100%;
    }
    .ingredients_img {
        width: 75px;
        height: 75px;
        border-radius: 50%;
    }
    /* ingredients part ends here */

    /* item part starts here */
    .item_list_part {
        padding: 0px 0;
    }
    /* item part ends here */

    /* review part starts here */
    .guest_review_part {
        padding: 45px 0;
    }
    .guest_review_content p {
        font-size: 15px;
    }
    .guest_review_part .guest_review_content {
        padding: 1px 65px;
    }
    /* review part ends here */

    /* booking part starts here */
    .resturent_booking_part {
        padding: 45px 0;
    }
    .resturent_bookin_p1 {
        margin: 30px 0 15px;
    }
    /* booking part ends here */

    /* footerr part starts here */

    .footer_wrapper {
        padding-bottom: 0;
    }
    footer {
        padding-bottom: 0;
    }
    .footer-1 .footer_common_heading,
    .footer-2 .footer_common_heading,
    .footer-3 .footer_common_heading{
        margin-bottom: 20px;
    }
    .footer-1,.footer-2,.footer-3{
        margin-bottom: 30px;
    }
    .footer_section.footer-2 p,
    .footer_section.footer-3 p{
        margin-bottom: 0;
    }
    .footer_section.footer-2 .footer_icon {
        margin-top: 10px;
        padding-bottom: 10px;
    }
    .footer_section.footer-3 .footer_icon {
        margin-top: 0;
        padding-bottom: 0;
    }
    .footer_section.footer-2 .footer_icon img{
        width: 100%;
    }
    .footer_section.footer-3 .social_icon ul {
        margin-left: -17px;
    }
    .footer_section.footer-3 .social_icon ul li i {
        font-size: 12px;
        color: #ffffff;
        padding: 0 5px;
    }
    .footer_section.footer-3 .col-4.offset-4 {
        position: relative;
    }
    .footer_section.footer-3 .social_icon ul {
        margin-left: 50%;
        transform: translateX(-75%);
    }
    /* footerr part ends here */
    
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) and (max-width:991px){ 
    /* header part start here */
    header{
        position: sticky;
        top: 0;
    }
    header .company_logo {
        /* width: 112px; */
        height: 100px;
        float: left;
        padding: 26px 0px;
    }
    .nav_menu_list {
        position: absolute;
        top: 100px;
        left: 0px;
        width: 100%;
        float: left;
        background: rgba(0, 0, 0, 0.373);
        backdrop-filter: blur(0.5px);
        padding: 10px;
    }
    .nav_menu_list .nav_list_ul {
        float: left;
        margin-left: 50%;
        transform: translateX(-50%);
        display: flex;
    }
    .nav_menu_part .nav_menu_icon {
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
    }
    button.navbar-toggler {
        position: absolute;
        padding: 3px 7px;
        top: 40px;
        right: 20px;
        border-color: #ffffff;
    }
    button.navbar-toggler .fa-bars {
        width: 1em;
        height: 1em;
        color: #ffffff;
    }
    /* header part end here */

    /* heading part start here */
    .heading_content h1.web_main_heading {
        font-size: 45px;
    }
    /* heading part end here */

    /* fish dish part start here */
    .first_dish_part {
        background-position: 19%;
    }
    .first_dish_containt {
        padding: 100px 50px;
    }
    .first_dish_chef_logo {
        margin-left: 250px;
    }
    /* fish dish part end here */

    /* ingrdients part start here */
    .ingredients_img_grp {
        width: 100%;
    }
    .ingredients_img {
        width: 90px;
        height: 90px;
    }
    /* ingrdients part end here */

    /* item list part start here */
    .item_list_section_grp {
        margin: 0 25px 47px 25px;
    }
    .common_heading {
        font-size: 30px;
    }
    .food_item_name h3,
    .food_item_p h4 {
        font-size: 15px;
    }
    .food_item_section {
        padding-bottom: 7px;
    }
    .food_item_about p {
        font-size: 10px;
    }
    /* item list part end here */

    /* review part starts here */
    .guest_review_content p {
        font-size: 15px;
    }
    .guest_review_part .guest_review_content {
        padding: 76px 55px;
    }
    /* review part ends here */

    /* booking part start here */
    .resturent_booking_section .resturent_booking_img {
        height: 300px;
    }
    .resturent_booking_data {
        padding: 0px 0px;
    }
    .common_heading {
        font-size: 25px;
    }
    .resturent_bookin_p1 {
        margin: 15px 0;
    }
    .common_p {
        font-size: 10px;
        line-height: 1.2;
    }
    .common_label {
        font-size: 12px;
    }
    .common_input {
        width: 153px;
        height: 25px;
        font-size: 10px;
        padding-left: 20px;
    }
    .common_input::placeholder {
        font-size: 10px;
    }
    input.common_input.date {
        padding-left: 23px;
    }
    .resturent_booking_form_button button {
        width: 150px;
        height: 25px;
        line-height: 25px;
        font-size: 12px;
    }
    /* booking part end here */

    /* footer part starts here */
    footer {
        padding: 30px 0;
    }
    .footer_wrapper {
        padding-bottom: 0;
    }
    .footer_common_heading {
        margin-bottom: 30px;
    }
    .footer_section p {
        font-size: 10px;
        line-height: 1.2;
    }
    .footer_section.footer-2 .footer_icon {
        margin-top: 10px;
        padding-bottom: 10px;
    }
    .footer_section.footer-2 .footer_icon {
        margin-top: 0;
        margin-left: -60px;
    }
    .footer_section.footer-3 .footer_icon {
        margin-top: 0;
        padding-bottom: 0;
    }

    .footer_section.footer-3 .social_icon ul {
        margin-left: -35px;
    }
    .social_icon ul li i {
        font-size: 14px;
        color: #ffffff;
        padding: 0 5px;
    }
   
    /* footer part ends here */

}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) and (max-width:1199px){  
    .first_dish_part {
        background-position: 50% 100%;
    }
    .ingredients_img {
        width: 90px;
        height: 90px;
    }
    .resturent_booking_data {
        padding: 0;
    }
}

/* X-Large devices (large desktops, 1200px and up) */
/* @media (min-width: 1200px) and (max-width:1399px){  } */

/* XX-Large devices (larger desktops, 1400px and up) */
/* @media (min-width: 1400px) {  } */